@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: 'Share Tech Mono', monospace;
  scroll-behavior: smooth;
  background-color: #000;
  color: #fff;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.icon{
  max-width: 30px;
}
.icon-medium{
  max-width: 40px;
}
a{
  color: #2062be;
  text-decoration: none;
  transition: .2s linear;
}
a:hover{
  text-decoration: underline;
  color: #368aff;
  cursor: pointer;
}