@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.global_container{
    width: 100vw;
    height: 100vh;

    background: url("./src/bg.png");
    background-size: cover;
    overflow-y: scroll;
}

/* TITLE SECTION */
.title_section{
    align-items: center;
    gap: 50px;
}
.title_wrapper{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.title_name{
    font-size: 3rem;
    font-family: 'Monoton', cursive;
}
.title_subtext{
    width: 17ch;
    font-size: 2rem;
    
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ffffff;
    opacity: 0;
}
.title_subtext--animated{
    opacity: 1;
    animation: flashing-border 0.75s step-end infinite,
               print-text 1s steps(16);
}
/* CONTENT SECTION */
.content_container{
    width: 1220px;
    margin: 0 auto;
}
.skill_container{
    border-bottom: 2px solid #fff;
    padding: 10px;
    margin-bottom: 100px;
}
.skills_wrapper{
    justify-content: space-between;
}
.skills_wrapper-web{
    justify-content: center;
}
.skill_title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}
.skills_section_title{
    font-size: 2rem;
    margin-bottom: 80px;
}
.skill{
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.skill_logo{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* PROJECTS */
.projects{
    height: 500px;
}
/* ABOUT ME */
.aboutme{
    margin-bottom: 100px;
}
.aboutme_contacts{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.aboutme_contacts_links{
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.aboutme_text{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.animated_arrow{
    animation: mover .3s infinite  alternate;
}
.link_icon{
    text-decoration: none;
    width: 45px;
}

/* FOOTER */
.footer{
    margin: 0 100px;
    padding: 10px;
    border-top: 2px solid #ffffff; 
    align-items: start;
    justify-content: space-between;
}
.footer_contacts{
    background-color: #ffffff;
    border-radius: 100px;
    padding: 20px 40px;
    color: #000000;
}
.contact{
    margin: 5px 0;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}
.contact_title{
    align-items: center;
    gap: 5px;
}

/* COMMON PROPERTIES */
.loader,
.title_section,
.title_wrapper,
.skills_wrapper,
.skills_wrapper-web,
.skill,
.skill_logo,
.aboutme_contacts,
.footer,
.contact,
.contact_title{
    display: flex;
}
/* ANIMATIONS */
@keyframes flashing-border{
    0%{
        border-color: #ffffff;
    }50%{
        border-color: transparent;
    }100%{
        border-color: #ffffff;
    }
}

@keyframes print-text{
    from{
        width: 0;
    }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

