@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.global_container{
    width: 100vw;
    height: 100vh;

    background: url("./src/bg.png");
    background-size: cover;
    overflow-y: scroll;
}
/* TITLE SECTION */
.title_section{
    align-items: center;
    gap: 50px;
}
.title_wrapper{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.title_name{
    font-size: 3rem;
    font-family: 'Monoton', cursive;
}
.title_subtext{
    width: 24ch;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ffffff;
    opacity: 0;
}
.title_subtext--animated{
    opacity: 1;
    animation: flashing-border 0.75s step-end infinite,
               print-text 1s steps(23);
}
/* CONTENT SECTION */
.content_section{
    max-width: 1220px;
    margin: 0 auto;
    border-radius: 10px;
}
.content_title{
    color: #ffea00;
    animation: alert 1s ease-in-out infinite;
}
/* FOOTER */
.footer{
    margin: 0 100px;
    padding: 10px;
    border-top: 2px solid #ffffff; 
    align-items: start;
    justify-content: space-between;
}
.footer_contacts{
    background-color: #ffffff;
    border-radius: 100px;
    padding: 20px 40px;
    color: #000000;
}
.contact{
    margin: 5px 0;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}
.contact_title{
    align-items: center;
    gap: 5px;
}

/* COMMON PROPERTIES */
.loader,
.title_section,
.title_wrapper,
.footer,
.contact,
.contact_title{
    display: flex;
}
/* ANIMATIONS */
@keyframes flashing-border{
    0%{
        border-color: #ffffff;
    }50%{
        border-color: transparent;
    }100%{
        border-color: #ffffff;
    }
}


@keyframes print-text{
    from{
        width: 0;
    }
}

@keyframes alert{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}